Repository wocommunity/wonder, pull requests merged in 2022-01, with the labels that each got.

#802 New ERAjaxTagField tag editing component
  Frameworks/Ajax/ERCoolComponents/Components/CCTagEditor.api
  Frameworks/Ajax/ERCoolComponents/Sources/er/coolcomponents/CCTagEditor.java
  Frameworks/Ajax/ERCoolComponents/WebServerResources/Horsey/horsey.min.css
  Frameworks/Ajax/ERCoolComponents/WebServerResources/Horsey/horsey.min.js
  Frameworks/Ajax/ERCoolComponents/WebServerResources/Horsey/license.txt
  Frameworks/Ajax/ERCoolComponents/WebServerResources/Insignia/insignia.min.css
  Frameworks/Ajax/ERCoolComponents/WebServerResources/Insignia/insignia.min.js
  Frameworks/Ajax/ERCoolComponents/WebServerResources/Insignia/license.txt
  Frameworks/BusinessLogic/ERTaggable/.classpath
  Frameworks/BusinessLogic/ERTaggable/Components/ERAjaxTagField.wo/ERAjaxTagField.html
  Frameworks/BusinessLogic/ERTaggable/Components/ERAjaxTagField.wo/ERAjaxTagField.wod
  Frameworks/BusinessLogic/ERTaggable/Components/ERAjaxTagField.wo/ERAjaxTagField.woo
  Frameworks/BusinessLogic/ERTaggable/Components/ERTagField.wo/ERTagField.html
  Frameworks/BusinessLogic/ERTaggable/Sources/er/taggable/components/ERAjaxTagField.java
  Frameworks/BusinessLogic/ERTaggable/pom.xml
  Frameworks/Core/ERDirectToWeb/Components/ERD2WEditTags.api
  Frameworks/Core/ERDirectToWeb/Components/Nonlocalized.lproj/ERD2WEditTags.wo/ERD2WEditTags.html
  Frameworks/Core/ERDirectToWeb/Components/Nonlocalized.lproj/ERD2WEditTags.wo/ERD2WEditTags.wod
  Frameworks/Core/ERDirectToWeb/Components/Nonlocalized.lproj/ERD2WEditTags.wo/ERD2WEditTags.woo
  Frameworks/Core/ERDirectToWeb/Sources/er/directtoweb/components/misc/ERD2WEditTags.java
  Frameworks/D2W/ERModernDefaultSkin/WebServerResources/default_screen_stylesheet.css
  Tests/ERModernMoviesTest/Resources/Properties
  Tests/ERModernMoviesTest/Resources/user.d2wmodel
  Tests/ERModernMoviesTest/Resources/user.d2wmodel.txt
  Tests/ERModernMoviesTest/Tests/er/modern/movies/test/MovieIT.java
Labels: Wonder7, D2W

#958 Fix NullPointerException when calling the EOModel.createPrototypeCache method from the wrong EOModel (take 2)
  Frameworks/Core/ERExtensions/Sources/er/extensions/eof/ERXModelGroup.java
Labels: Wonder7, Wonder6

#941 ERAttachment name with currency error
  Frameworks/BusinessLogic/ERAttachment/Sources/er/attachment/processors/ERAttachmentProcessor.java
  Frameworks/BusinessLogic/ERAttachment/Sources/er/attachment/processors/ERFileAttachmentProcessor.java
Labels: Wonder7

#803 Adds ERMODEditableListTemplate for editing all items in a list
  Frameworks/D2W/ERModernDefaultSkin/Resources/d2w.d2wmodel
  Frameworks/D2W/ERModernDefaultSkin/Resources/d2w.d2wmodel.txt
  Frameworks/D2W/ERModernDefaultSkin/WebServerResources/default_screen_stylesheet.css
  Frameworks/D2W/ERModernDirectToWeb/Sources/er/modern/directtoweb/assignments/defaults/ERMDDefaultCSSAssignment.java
  Frameworks/D2W/ERModernDirectToWeb/Sources/er/modern/directtoweb/assignments/defaults/ERMDDefaultConfigurationNameAssignment.java
  Frameworks/D2W/ERModernDirectToWeb/Sources/er/modern/directtoweb/components/ERMD2WPropertyName.java
  Frameworks/D2W/ERModernLook/Components/Nonlocalized.lproj/ERMODEditRelationshipPage.wo/ERMODEditRelationshipPage.html
  Frameworks/D2W/ERModernLook/Components/Nonlocalized.lproj/ERMODEditRelationshipPage.wo/ERMODEditRelationshipPage.wod
  Frameworks/D2W/ERModernLook/Components/Nonlocalized.lproj/ERMODEditableListTemplate.wo/ERMODEditableListTemplate.html
  Frameworks/D2W/ERModernLook/Components/Nonlocalized.lproj/ERMODEditableListTemplate.wo/ERMODEditableListTemplate.wod
  Frameworks/D2W/ERModernLook/Components/Nonlocalized.lproj/ERMODEditableListTemplate.wo/ERMODEditableListTemplate.woo
  Frameworks/D2W/ERModernLook/Resources/d2w.d2wmodel
  Frameworks/D2W/ERModernLook/Resources/d2w.d2wmodel.txt
  Frameworks/D2W/ERModernLook/Sources/er/modern/look/components/ERMODEditableListTemplate.java
  Frameworks/D2W/ERModernLook/Sources/er/modern/look/pages/ERMODEditRelationshipPage.java
Labels: Wonder7, D2W
